body {
    background: #2f3e46;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    color: white;
    font-size: 3em;
    text-align: center;
}

.card-container {
    align-content: space-around;
    align-items: center;
    background: #52796f;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    height: 650px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 650px;
}

.card {
    border-radius: inherit;
    flex: 0 0 200px;
    height: 200px;
    perspective: 1000px;
}

.card-center {
    align-items: center;
    background: #354f52;
    border-radius: inherit;
    display: flex;
    height: 100%;
    justify-content: center;
    transform-style: preserve-3d;
    transition: transform .7s ease;
    width: 100%;
    z-index: 1;
}

.card-front, .card-back {
    align-items: center;
    border-radius: inherit;
    color: #cad2c5;
    display: flex;
    height: 90%;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 90%;
}

.card-front {
    backface-visibility: hidden;
    background: #84a98c;
    z-index: 2;
}

.card-back {
    background: #52796f;
    transform: rotateY(180deg);
}

.card-text {
    font-size: 1.5em;
}

.card:hover .card-center {
    transform: rotateY(180deg);
}